/** START - import fonts **/
@font-face {
    font-family: "vRegular";
    src: url("./Volte-W03-Regular.woff2") format("truetype");
}
@font-face {
    font-family: "vSemiBold";
    src: url("./Volte-Semibold.woff2") format("truetype");
}
/** END - import fonts **/

// USAGE
.vRegular {
    font-family: "vRegular", sans-serif;
    font-feature-settings: "lnum";
}
.vSemiBold {
    font-family: "vSemiBold", sans-serif;
    font-feature-settings: "lnum";
}

.title-large {
    font-size: 1.2rem;
}

.details-small {
    font-size: calc(11px + 6 * ((100vw - 320px) / 680));
}

.details-x-small {
    font-size: calc(5px + 6 * ((100vw - 320px) / 680));
}

.fullscreen {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden !important;
}

.full-height {
    min-height: 100%;
    height: 100%;
}

.width-50 {
    width: 50%;
}

.pe-15 {
    padding-right: 15%;
}

.width-80 {
    width: 80% !important;
}

.width-65 {
    width: 65%;
}

.m-auto {
    margin: auto;
}

.max-width {
    width: 100%;
}

.right {
    text-align: right;
    float: right;
}

.sides {
    width: 15%;
}

.middle {
    width: 70%;
}

.max-height {
    height: 99vh;
    max-height: 99vh;
    @media (max-width: 990px) {
        height: 100vh;
        max-height: 100vh;
    }
}

.text-vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.div-touch {
    position: absolute;
    top: 50%;
    transform: translate(-28%, -50%);
}

.div-social-big {
    position: absolute;
    transform: translate(-42%, 0%);
}

.pt-8 {
    padding-top: 14vh;
    @media (min-width: 1150px) {
        padding-top: 12vh;
    }
}

.height-100 {
    height: 100%;
}

.width-70 {
    width: 70%;
}

.width-85 {
    width: 85%;
}

.width-55 {
    width: 55%;
}

.z-index-bg {
    z-index: -1;
}

.div-whats-text {
    margin: auto;
    height: 100%;
    padding-top: 22%;
}

.col-middle {
    padding-top: 15vh !important;
    overflow: hidden !important;
}

.a-social {
    @media (min-width: 1150px) {
        width: 100%;
        height: 100%;
        min-height: 100%;
        min-width: 100%;
    }
}

.no-text-decoration {
    text-decoration: none !important;
}
